---
export interface Props {
  image: string;
  name: string;
  work?: string;
  github?: string;
  twitter?: string;
  email?: string;
}

const { image, name, work, github, twitter, email } = Astro.props;
---

<div
  class="card card-side text-center shadow-2xl bg-base-100 w-56 m-2 transition ease-in-out hover:scale-105 duration-200"
>
  <div>
    <div class="avatar">
      <div class="rounded-full mt-2 ml-2 w-14 h-14 shadow">
        <img src={image} />
      </div>
    </div>
  </div>
  <div class="ml-4 mt-2 text-left">
    <p class="font-semibold text-sm">{name}</p>
    <p class="text-xs">{work}</p>
    <div class="mt-1 inline-flex">
      {
        github ? (
          <a href={github} target="_blank">
            <span class="iconify mr-1" data-icon="fa:github" data-height="16" />
          </a>
        ) : null
      }
      {
        twitter ? (
          <a href={twitter} target="_blank">
            <span
              class="iconify mr-1"
              data-icon="fa:twitter"
              data-height="16"
            />
          </a>
        ) : null
      }
      {
        email ? (
          <a href={"mailto:" + email} target="_blank">
            <span
              class="iconify mr-1"
              data-icon="clarity:email-solid"
              data-height="16"
            />
          </a>
        ) : null
      }
    </div>
  </div>
</div>
